/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 6px;
    background: #4A5568; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2D3748; 
    border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1A202C; 
}